:root {
  box-sizing: border-box;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  font-family: $font-nunito-sans;
  background-color: $very-dark-blue;
}
