@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

// para elementos
$dark-blue: hsl(209, 23%, 22%);
// para backgrounds
$very-dark-blue: hsl(207, 26%, 17%);
// texto para light mode
$text-dark-blue: hsl(200, 15%, 8%);
// light mode input
$dark-gray: hsl(0, 0%, 52%);
// (Light Mode Background)
$very-light-gray: hsl(0, 0%, 98%);
// Dark Mode Text & Light Mode Elements)
$white: hsl(0, 0%, 100%);

$font-nunito-sans: 'Nunito Sans', sans-serif;

$breakpoints: (
  small: 375px,
  medium: 768px,
  large: 1024px,
  x-large: 1440px,
);
