.activity {
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  &__title {
    margin-bottom: 1.5rem;
  }

  form {
    width: 400px;
  }

  form * + * {
    margin-top: 0.5rem;
  }

  input,
  select,
  button {
    border: none;
    background-color: lighten($very-dark-blue, 8);
    padding: 0.5rem 1rem;
    border-radius: 0.2rem 0 0 0.2rem;
    box-shadow: 1px 1px 5px $very-dark-blue;
    outline: none;
    height: 2rem;
    color: $white;
  }

  div {
    display: flex;
    align-items: center;

    label {
      flex-basis: 30%;
    }

    label + input,
    label + select {
      flex-basis: 70%;
    }
  }

  div:last-of-type {
    display: block;

    p {
      flex-basis: 100%;
      margin-top: 1rem;
    }
    select {
      flex-basis: 100%;
      width: 100%;
      height: 200px;
      margin-top: 0.5rem;
    }
  }

  button {
    margin: 1rem auto;
    display: block;
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    letter-spacing: 1px;
    height: 35px;
    background-color: lighten($very-dark-blue, 15);
    box-shadow: 1px 1px 10px 10px $very-dark-blue;
    border-radius: 0.2rem;
    transition: background 0.3s;

    &:hover {
      background-color: lighten($very-dark-blue, 25);
    }
  }

  .error {
    margin-bottom: 1rem;
    color: tomato;
    background-color: lighten($very-dark-blue, 8);
    padding: 1rem 0;
    width: 400px;
    text-align: center;
    border-radius: 0.2rem;
  }
}
