.grid-card {
  display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(220px, 250px));
  grid-template-columns: minmax(220px, 250px);
  gap: 1.5rem;
  background-color: $very-dark-blue;
  justify-content: center;

  @include mq(520px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mq(medium) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include mq(large) {
    grid-template-columns: repeat(4, 1fr);
  }
  @include mq(x-large) {
    grid-template-columns: repeat(5, 1fr);
  }

  > h2 {
    color: $white;
    width: max-content;
  }
}

.card {
  color: $white;
  overflow: hidden;
  min-width: 220px;

  &__image {
    img {
      border-radius: 0.5rem 0.5rem 0 0;
      width: 100%;
      height: 150px;
      object-fit: cover;
    }
  }

  &__body {
    padding: 1.5rem 1rem 2rem;
    background-color: $dark-blue;
    border-radius: 0 0 0.5rem 0.5rem;

    h3 {
      font-size: 1.2rem;
    }

    p {
      margin-top: 1rem;
      font-weight: 600;
      color: lighten($dark-gray, 20);
    }
    span {
      color: darken($very-light-gray, 10);
    }
  }
}
