.countries {
  padding: 2.5rem 4rem;

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.btn-previous,
.btn-next {
  @include btn();
  width: 7rem;
  text-align: center;
  margin: 2.5rem 0;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
}

.btn-next {
  margin-right: 0;
}

.current-page {
  color: $white;
  margin-right: 1rem;
  opacity: 0.5;
}
