.container-forms {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  @include mq(medium) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  & * {
    margin: 0.5rem 0;
  }

  @include mq(medium) {
    align-items: center;
    flex-direction: row;
  }

  input,
  select,
  .btn-new-activity {
    border: none;
    background-color: lighten($very-dark-blue, 15);
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    box-shadow: 1px 1px 5px $very-dark-blue;
    outline: none;
    height: 2rem;
    color: $white;
    transition: background-color 0.2s ease-in-out;
    // grid
    grid-row: 2 / 3;

    &:hover {
      background-color: lighten($very-dark-blue, 10);
    }
  }

  input {
    border-radius: 0.2rem 0 0 0.2rem;
    background-color: lighten($very-dark-blue, 8);
  }

  option {
    background-color: lighten($very-dark-blue, 2);
  }

  select#continent,
  select#activities {
    @include mq(medium) {
      margin-left: 0.65rem;
    }
  }

  select#continent {
    @include mq(medium) {
      margin-left: 0;
    }
  }

  .btn-new-activity {
    text-align: left;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    @include mq(medium) {
      margin-left: 0.5rem;
    }

    &:hover {
      background-color: lighten($very-dark-blue, 10);
    }
  }

  #ordered {
    @include mq(medium) {
      margin-left: 0.65rem;
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}

.formCountry {
  display: flex;
  align-items: center;
  height: 2em;
  grid-column: 1 / 3;
  grid-row: 1 / 2;

  @include mq(large) {
    grid-column: 1 / 2;
  }

  &__searchCountry {
    display: inline-block;
    width: 100%;
    min-width: 180px;

    input {
      width: inherit;
    }
  }

  &__buttonCountry {
    @include btn();
    background-color: lighten($very-dark-blue, 15);
    padding: 0.5rem 1rem;
    margin: 0;
    box-shadow: 1px 1px 5px $very-dark-blue;
    border-radius: 0 0.2rem 0.2rem 0;
    height: 2rem;
    display: flex;
    align-items: center;
  }
}
