.container-forms {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  & * {
    margin: 0.5rem 0;
  }

  @include mq(medium) {
    align-items: center;
    flex-direction: row;
  }

  input,
  select,
  .btn-new-activity {
    border: none;
    background-color: lighten($very-dark-blue, 15);
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    box-shadow: 1px 1px 5px $very-dark-blue;
    outline: none;
    height: 2rem;
    color: $white;
  }

  input {
    border-radius: 0.2rem 0 0 0.2rem;
    background-color: lighten($very-dark-blue, 8);
  }

  option {
    background-color: lighten($very-dark-blue, 8);
  }

  select#continent,
  select#activities {
    @include mq(medium) {
      margin-left: 1rem;
    }
  }

  .btn-new-activity {
    text-align: left;
    cursor: pointer;

    @include mq(medium) {
      margin-left: 1rem;
    }
  }

  #ordered {
    margin-bottom: 1rem;

    @include mq(medium) {
      margin-left: 1rem;
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}

.formCountry {
  display: flex;
  align-items: center;

  &__searchCountry {
    display: inline-block;
  }

  &__buttonCountry {
    @include btn();
    background-color: lighten($very-dark-blue, 15);
    padding: 0.5rem 1rem;
    margin: 0;
    box-shadow: 1px 1px 5px $very-dark-blue;
    border-radius: 0 0.2rem 0.2rem 0;
    height: 2rem;
    display: flex;
    align-items: center;
  }
}
